<div class="row">
	<div class="col-12">
		<div class="card shadow">
			<div class="card-body">
				<h4 class="header-title">Make a change ?</h4>
				<p class="text-muted font-14">
					You are about to change information about a company that you have registered as a lead.
				</p>
				<div class="tab-content mb-4">
					<div class="row">
						<div class="col-lg-8">
							{{ form_start(form)}}
							<div class="mb-3">
								{{ form_row(form.name)}}
							</div>
							<div class="row g-2">
								<div class="mb-3 col-md-8">
									{{ form_row(form.address)}}
								</div>
								<div class="mb-3 col-md-4">
									{{ form_row(form.postal_code)}}
								</div>
							</div>
							<div class="row g-2">
								<div class="mb-3 col-md-8">
									{{ form_row(form.city)}}
								</div>
								<div class="mb-3 col-md-4">
									{{ form_row(form.types)}}
								</div>
							</div>
							<div class="row g-2">
								<div class="mb-3 col-md-6">
									{{ form_row(form.phone_number)}}
								</div>
								<div class="mb-3 col-md-6">
									{{ form_row(form.email)}}
								</div>
							</div>
							<button class="mt-2 btn bt-lg btn-primary" type="submit">
								{{button}}
							</button>
							{{ form_end(form)}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
