<div class="row">
	<div class="col-12">
		<div class="card shadow">
			<div class="card-body">
				<div class="tab-content mb-4">
					<div class="row">
						<div class="col-lg-8">
							{{ form_start(form)}}
							<div class="mb-3">
								{{ form_row(form.title)}}
							</div>
							<div class="row g-3">
								<div class="mb-3 col-md-4">
									{{ form_row(form.level_search)}}
								</div>
								<div class="mb-3 col-md-4">
									{{ form_row(form.salary)}}
								</div>
								<div class="mb-3 col-md-4">
									{{ form_row(form.experience_required)}}
								</div>
							</div>
							<div class="row g-4">
								<div class="mb-3 col-md-2">
									{{ form_row(form.english_required)}}
								</div>
								<div class="mb-3 col-md-2">
									{{ form_row(form.remote)}}
								</div>
								<div class="mb-3 col-md-4">
									{{ form_row(form.type_job)}}
								</div>
								<div class="mb-3 col-md-4">
									{{ form_row(form.companies)}}
								</div>
							</div>
							<div class="mb-3">
								{{ form_row(form.comment)}}
							</div>
							<button class="mt-2 btn bt-lg btn-primary" type="submit">
								{{button}}
							</button>
							{{ form_end(form)}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
